<main class="main">
    <div class="main__content">
        <h1 class="title--center titele">Створити</h1>
        <ul class="choose">
            <a href="/soptify-create">
                <li class="choose__item">
                    <img src="/svg/choose_1.svg" class="chose__image">
                    <div class="choose__content">
                        <strong class="title">Плейлiст</strong>
                        <p class="choose__text">Створiть плейлiст iз пiснями чи епiзодами </p>
                    </div>
                </li>
            </a>
              <a href="/soptify-create?isMix=true">
                <li class="choose__item">
                    <img src="/svg/choose_2.svg" class="chose__image">
                    <div class="choose__content">
                        <strong class="title">Плейлiст</strong>
                        <p class="choose__text">Створiть плейлiст iз пiснями чи епiзодами </p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>