@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProducr;
@use '../../component/field/style.scss' as fieled;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;




.purchase-item {
    margin-top: 75px;
    margin-left: 75px;
}

.title_h1 {
    display: flex;
    text-align: center;
}
.purchase-item {
    display: flex;
    gap: 150px;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: rgb(155, 155, 155);
}
.linck {
    text-decoration: none;
}
.title_h1 {
    display: flex;
    flex-direction: column;
    color: 0050FF;
    font-size: xx-large;
    margin-top: 70px;
}