@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProducr;
@use '../../component/field/style.scss' as fieled;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;



.form {
    display: flex;
    padding: s.space(4);
    flex-direction: column;
    gap: s.space(8);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
        color: s.color('primel');

    }

    &__title_tu {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: s.space(1);
        margin-bottom: s.space(4);
    }

    &__contrnt {
        display: grid;
        justify-content: start;
        gap: s.space(6);
    }

    &__field {
        display: flex;
        gap: s.space(2);
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
        

    &__label {
        font-size: 14px;
    }

    &__input{
        border: 1px solid s.color('light');
        padding: s.space(2);
    }

    &__button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 20px;
        background-color: s.color('primel');
        color: s.color('light');
    }

}


main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
}


.user-list {
    li{
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


.litl_description {
    font-size: 8px;
    margin-right: auto;
    font-weight: bold;
    color: rgba(28, 29, 29, 0.39); 
    margin-bottom: s.space(2);
}


.form__row {
    display: flex;
}