@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProducr;
@use '../../component/field/style.scss' as fieled;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;



.title {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    justify-content: space-around;
}
.title_id {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    justify-content: center;
}

.purchase-item__contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 40px;
    
}