<main class="main">
    <section class="header_one">
        <div class="title_icon">
    <h1 class="title_me">Моя бібліотека</h1>

    <a href="/spotify-search" class="icon">
        <img class="icon_svg" src="/svg/Vector.svg" alt="">
    </a>
        <a href="soptify-choose" class="icon">
        <img class="icon_svg_2" src="/svg/Vector (1).svg" alt="">
    </a>
    </div>
    <div class="playlist">
        <div >
        <div class="one_playlist">
            <img src="/svg/mdi_heart.svg" alt="">
        </div>
        <div class="text_title">Пісні, що сподобались</div>
        <strong>50 пісень</strong>
        </div>
                <div>
                <div class="two_playlist">
            <img class="screen" src="/svg/Screenshot_30.png" alt="">
            <strong class="playlist_name">Мішанина</strong>
        </div>
            <div class="text_title_two">Спільний альбом</div>
            <strong>20 пісень</strong>
</div>
<div>
                <div class="three_playlist">
            <img src="/svg/image 627.png" alt="">
        </div>
        <div class="text_title">Інь Ян</div>
        <strong>10 пісень</strong>
        </div>
            <div>
                <div class="four_playlist">
            <img class="four_icon" src="/svg/icon-park-outline_music (2).svg" alt="">
        </div>
        <div class="text_title">Мій плейліст №1</div>
        <strong>36 пісень</strong>
</div>
    </div>

    </section>
</main>


