@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.title_me {
    color: #FFFEFE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
}
.title_icon {
    display: flex;
    align-items: center;
}
.icon_svg {
    margin-left: 280px;
}
.icon_svg_2 {
    margin-left: 40px;
}
.one_playlist {
    display: flex;
    width: 345px;
    height: 345px;
    padding: 88px 88px 87px 87px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4531F2 0.5%, #CEF4E7 100%);
}
.playlist {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}
.playlist_name {
    display: flex;
    margin-top: -60px;
    margin-left: 30px;
    font-size: xx-large;
}
.screen {
    width: 345px;
    height: 345px;
}
.four_icon {
    padding: 88px 88px 87px 87px;
    background: #242424;
}
.text_title {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text_title_two {
    padding-top: 50px ;
    padding-bottom: 20px;
    font-size: 20px;
}